*.class
*.log
.localdocs/

# SBT
test-output/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.sbtrc

# IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Mac
.DS_Store

#npm
node_modules/
src/main/resources/public/

# Other
*.pyc
.*.swp
\#*#
*~
.#*
