<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>Laika Web Tool</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Laika Web Tool allows to try out the Laika markup transformer online" />
    <meta name="keywords" content="scala, laika, text, markup, markdown, restructuredtext, parser, transformer, html, open-source" />

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="assets/stylesheets/main.css" rel="stylesheet">
    <link href="assets/stylesheets/output.css" rel="stylesheet">
    <link href="assets/stylesheets/angle.css" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="assets/stylesheet" href="stylesheets/angle-ie7.css"><![endif]-->
    
    
  </head>

  <body>

    <div class="row" ng-app="webtool">

      <div class="left" ng-controller="InputController">

        <img src="assets/images/laika-top.png"/>
        <h2>Transformer Webtool</h2>
        
        <h1>Input</h1>
        <div class="input">
          <div class="btn-group">
            <button type="button" class="btn active" ng-model="markup" btn-radio="'Markdown'">Markdown</button>
            <button type="button" class="btn" ng-model="markup" btn-radio="'reStructuredText'">reStructuredText</button>
          </div>
          <textarea ng-model="input" ng-change="textChanged()"></textarea>
          <div class="counter"><span ng-class="statusClass()">{{input.length}} characters</span> ({{maxChars}} max)</div>
        </div>

      </div>
      
      <div class="middle-right">
      
        <div class="middle">
  
          <div ng-controller="PanelController">
            <div class="title-bar">
              <div class="title">Raw Document Tree Model</div>
              <div class="collapse-button">
                <a ng-click="isCollapsed = !isCollapsed"><i class="icon" ng-bind-html-unsafe="collapseIcon"></i></a>
              </div>
            </div>
            <div collapse="isCollapsed">
              <pre>{{lastResult.rawTree}}</pre>
            </div>
          </div>
                 
          <div ng-controller="PanelController" class="bottom-panel"> 
            <div class="title-bar">
              <div class="title">Rewritten Document Tree Model</div>
              <div class="collapse-button">
                <a ng-click="isCollapsed = !isCollapsed"><i class="icon" ng-bind-html-unsafe="collapseIcon"></i></a>
              </div>
            </div>
            <div collapse="isCollapsed">
              <pre>{{lastResult.rewrittenTree}}</pre>
            </div>
          </div>
        
        </div>
        
        <div class="right">
      
          <div ng-controller="PanelController">
            <div class="title-bar">
              <div class="title">HTML Source</div>
              <div class="collapse-button">
                <a ng-click="isCollapsed = !isCollapsed"><i class="icon" ng-bind-html-unsafe="collapseIcon"></i></a>
              </div>
            </div>
            <div collapse="isCollapsed">
              <pre>{{lastResult.html}}</pre>
            </div>
          </div>
          
          <div ng-controller="PanelController" class="bottom-panel">
            <div class="title-bar">
              <div class="title">Rendered HTML</div>
              <div class="collapse-button">
                <a ng-click="isCollapsed = !isCollapsed"><i class="icon" ng-bind-html-unsafe="collapseIcon"></i></a>
              </div>
            </div>
            <div collapse="isCollapsed">
              <div class="output" ng-bind-html-unsafe="lastResult.html">
              </div>
            </div>
          </div>
      
        </div>
        
      </div>
    
    </div>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="assets/javascripts/ui-bootstrap-custom-0.4.0-SNAPSHOT.min.js"></script>
    
    <script>
    // TODO - temporary embed here for testing, will be written in coffeescript later
    
    angular.module('transformer-mock', []).
     factory('transformer', function($q, $rootScope) {
        return {
          transform: function(format, text) {
            var deferred = $q.defer();
 
            setTimeout(function() { // TODO - use $timeout instead
              $rootScope.$apply(function() {
                var result = "Transformed " + format + ": " + text;
                deferred.resolve({ rawTree: result, rewrittenTree: result, html: result });
              });
            }, 1000);
           
            return deferred.promise;
          }
      };
    });
    
    angular.module('transformer', []).
     factory('transformer', function($http, $rootScope) {
        return {
          transform: function(format, text) {
            var url = /transform/ + format.toLowerCase();
            return $http.post(url, text, {headers: {"Content-Type": "text/plain"}}); 
          }
      };
    });
    
    angular.module('webtool', ['ui.bootstrap', 'transformer']);

    function PanelController($scope) {
      var downIcon = "&#xe807;"
      var upIcon = "&#xe806;"
      
      $scope.isCollapsed = false;
      $scope.collapseIcon = downIcon
      
      $scope.$watch('isCollapsed', function(newValue, oldValue) { 
        $scope.collapseIcon = (newValue) ? upIcon : downIcon;     
      });
    }
    function InputController($scope, $rootScope, $timeout, transformer) {
      
      $scope.maxChars = 500;
      $scope.input = "";
      $scope.markup = "Markdown";
      
      var currentTimeout;
      var idleTime = 1500; // the time we wait when the user stops typing
      
      function init () {
        $rootScope.lastResult = { rawTree: 'Transformation starts a second after you stop typing', rewrittenTree: ' ', html: ' ' }
      }
      
      function inputTooLong () {
        return $scope.input.length > $scope.maxChars;
      }
      
      function transform () {
        if ($scope.input == "") { init(); return; }
        if (inputTooLong()) return;
        
        transformer.transform($scope.markup, $scope.input).then(function(result) {
          $rootScope.lastResult = result.data
        },
        function(error) {
          $rootScope.lastResult = { rawTree: 'Server Error (' + error.status + ')', rewrittenTree: ' ', html: ' ' }
        }); 
      }
      
      $scope.$watch('markup', function(newValue, oldValue) { 
        transform();
      });
      
      $scope.textChanged = function () {
        if (currentTimeout) $timeout.cancel(currentTimeout);
        currentTimeout = $timeout(function () {
          transform();
        }, idleTime);     
      };
      
      $scope.statusClass = function () {
        return (inputTooLong()) ? "red" : "";
      };
    }
    </script>

  </body>
</html>